.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .enlarge-on-mobile {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .compress-on-mobile {
    padding: 15px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  background: #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
}
nav .title-container {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .links-container {
  height: 3em;
}
nav .links-container a {
  text-decoration: none;
  color: #23293B;
  font-size: 1.6rem;
  padding: 1em;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #F6F7F8;
}
body .sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}
body .sign-in-container h2 {
  padding: 1em;
  font-size: 4rem;
}
body .form-container {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body .form-container img {
  height: 15%;
  width: 15%;
  border-radius: 50%;
  border: 3px solid darkgrey;
  margin-bottom: 2em;
}
body .form-container .login-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
body .form-container .login-container label {
  padding: 1em;
  color: #5E6164;
  font-size: 1.6rem;
}
body .form-container .login-container input {
  padding: 0.5em;
}
body .form-container .login-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22283A;
  color: #F6F7F8;
  width: 30%;
  padding: 0.5em;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 1em;
}
@media (max-width: 500px) {
  body .form-container .login-container button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .form-container .login-container button {
    padding: 1.5em;
  }
}
